
@font-face {
    font-family: MineCraftFonts; 
    src: url(MinecraftRegular-Bmg3.otf);
}

* {
    font-family: MineCraftFonts;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100%;
    background: #F2F3F4;
}

nav{
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #F2F3F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 1px rgba(0,0,0,0.1);
    margin: 0 auto;
}

nav .logo {
    display: flex;
    align-items: center;
    margin: 0 24px;
}

.logo .menu-btn {
    font-size: 26px;
    cursor: pointer;
    margin-right: 14px;
}

.logo .namelogo {
    font-size: 28px;
    font-weight: bold;
}


nav .sidebar {
    height: 100%;
    width: 260px;
    position: fixed;
    top: 0;
    padding: 20px 0;
    background-color: #f2f3f4;
    box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    left: -100%;
}

nav.display .sidebar {
    left: 0;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px 16px;
    justify-content: space-between;
}

.content li {
    list-style: none;
}

.content a{
    display:    flex;
    align-items: center;
    margin: 8px 0;
    padding: 14px 12px;
    text-decoration: none;
    border-radius: 8px;   
    color: #000;
}

.content a:hover {
    background-color: #000;
}

.content i {
    font-size: 20px;
    color: #707070;
    margin-right: 14px;
}

.content  a:hover i, .content a:hover .Link{
    color: #fff;
}

.overlay {
    height: 1000vh;
    width: 200%;
    position: fixed;
    top: 0;
    left: -100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4 ease;
    background: rgba(0,0,0,0.3);
}


nav.display ~ .overlay {
    opcaity: 1;
    left: 260px;
    pointer-events: auto;
}

.Aboutme {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    height: calc(100vh - 70px);
}

.Aboutme h1 {
    font-size: 2vw;
}

.Aboutme span {
    font-size: 1vw;
}

.Aboutme img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    z-index: -1;
    border-style: dotted;
    border-color: white;
}

#ring {
    display: block;
    position: absolute;
    z-index: -2;
    width: 100%;
    height: 100%;
}



.firstpage {
    display: flex;
    color: #000;
    height: calc(100vh - 70px);
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
}

.section1 , .section2 {
    width: 100%;
    position: relative;
    z-index: -2;
    min-height: 88.5vh;
}

.section1 {
    background-image: url("image/leftbox.gif")
    
}


.section2 {
    background: rgb(0,0,0);
}

.text {
    top: 30%;
    left: 50%;
    position: absolute;
    color: white;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.3),
    5px 5px 70px rgba(255,255,255,0.5);
    transform: scale(1,1.1) translate(-50%, 20%);
}

.History {
    top: 45%;
    left: 51%;
    position: absolute;
    color: white;
    transform: scale(1,1.1) translate(-50%, 20%);
}

.History .link_to_school {
    list-style: none;
}



.secondpage {
    display: flex;;
    color: #000;
    height: calc(100vh - 10rem);
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.codecontext {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    place-content: center;
    place-items: center;
}

#slider {
     position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
}


#slider ul {
  position: relative;
  list-style: none;
  height: 100%;
  width: 10000%;
  padding: 0;
  margin: 0;
  transition: all 750ms ease;
  left: 0;
}
#slider ul li {
  position: relative;
  height: 100%;
  float: left;
}

#slider ul li img{
  width: 300px;
  height: 300px;
}

#slider #prev, #slider #next {
  width: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  text-decoration: none;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  font-size: 2rem;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  transform: translateY(-50%);
  transition: all 150ms ease;
}

#slider #prev {
  left: 10px;
}
#slider #next {
  right: 10px;
}

#slider #prev:hover, #slider #next:hover {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0;
}

.thirdpage {
    display: flex;;
    color: #000;
    height: calc(100vh - 10rem);
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #000;
    color: #fff;
}


@media screen and (max-width: 2250px) {
    .Aboutme h1 {
        font-size: 2rem;
    }

    .Aboutme span {
        font-size: 1rem;
        text-align: center;
    }

    .text {
        font-size: 10px;;
    }


    .History {
        font-size: 10px;
    }

    .codecontext {
        font-size: 8px;
        gap: 3rem;
    }

    #slider {
     position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
    }

    #slider ul li img{
  width: 300px;
  height: 300px;
    }
  
}

